// Wrapper modular (Opcional)
#include <windows.h>

// Icono
101 ICON "../main.ico"

// Manifiesto
1 RT_MANIFEST "../main.manifest"

// Sub-recursos
#include "dialogs.rc"
#include "version.rc"
