// ============================================================================
// C4 ANALYZER - RESOURCE DRIVER
// Ubicación: src/rc/main.rc
// ============================================================================

#include <windows.h> // Usamos windows.h que es más seguro en MinGW que winres.h

#define APSTUDIO_READONLY_SYMBOLS

// 1. ICONO
// Aunque no se muestre en el VST rack, Windows lo usa para el explorador.
// ID 1 es estándar para el icono principal de la DLL.
1 ICON "main.ico"

// 2. MANIFIESTO (Vital para el Look & Feel moderno)
// Se vincula al archivo 'manifest' que está en esta misma carpeta (src/rc/manifest)
#define MANIFEST_RESOURCE_ID 2
MANIFEST_RESOURCE_ID 24 "manifest"

// 3. INCLUSIONES
#include "dialogs.rc"
#include "version.rc"

#undef APSTUDIO_READONLY_SYMBOLS
